.main{

}
.header{
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}
.navbar-icon-link{
    font-size: 1.8rem;
    margin: 0 4px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--navbar-height);
}
.navbar__list{
    list-style: none;
    padding-left: 0;
    display: flex;

}
.navbar__list-item{
    position: relative;
    margin: 0 8px;
    min-height: 26px;
}
.navbar__list-item,
.item-link{
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}
.navbar__list-item,
.item-link,
.navbar-icon{
    display: inline-flex;
    align-items: center;
}

.navbar__list-item:hover,
.item-link:hover,
.navbar-icon:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

@keyframes headerNotify{
    from{
        opacity: 0;
        transform: scale(0);    
    }
    to{
        opacity: 1;
        transform: scale(1);         
    }
}
.header__navbar-user{
    position: relative;
}
.navbar__user-menu::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 18%;
    left: 0;
    top: -18px;
}
.navbar__user-menu::after{
    content: "";
    position: absolute;
    display: block;
    top: -22px;
    border-width: 11px 13px;
    border-style: solid;
    border-color: transparent transparent rgb(255, 255, 255);
    right: 40%;
    cursor: pointer;
}
.header__navbar-user-img{
    width: 22px;
    margin-left: 4px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.1);
}
.header_navbar-user-name{
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}
.header__navbar-user:hover .navbar__user-menu{
    display: block;
}
.navbar__user-menu{
    border-radius: 2px;
    width: 160px;
    z-index: 999;
    position: absolute;
    top: 32px;
    right: 0;
    padding: 0;
    list-style: none;
    background-color: var(--white-color);
    box-shadow: 0 1px 2px rgb(180, 177, 177) ;
    display: none;
    animation: fadeIn ease-in .2s;
}
.navbar__user-item{
    padding: 10px 12px;
}
.navbar__user-item:hover{ 
    background-color: #fafafa;
}
.user__item-info{
    color: var(--text-color);
    text-decoration: none;   
}
.navbar-item-no-pointer{
    cursor: text;
    color: var(--white-color);
}
.navbar-item-no-pointer + .navbar-icon{
    margin: 0 2px 0 4px;
}

.navbar-icon{
    color: var(--white-color);
    text-decoration: none;
}

.link--bold{
    font-weight: 400;
}

.item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #ccc;
    height: 12px;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
}
/* header QR code */
.header__maQR{
    width: 186px;
    background: var(--white-color);
    position: absolute;
    left: 0;
    top: 120%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in .2s;
}
.header__maQR::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 18%;
    left: 0;
    top: -18px;
}
.navbar--showQR:hover .header__maQR{
    display: block;
}
.maQR{
    width: 100%;
}

.header__maQR--app{
    justify-content: space-between;
    display: flex;
}

.header_QR--link{
    margin-left: 11px;
}
.header_QR--link + .header_QR--link{
    margin-left: 0px;
    margin-right: 11px;
}

.header__QR--image{
    height: 15px;
}

.header__notify{
    position: absolute;
    top: 120%;
    right: 0;
    width: 404px;
    border: 1px solid #d3d3d3;
    background-color: var(--white-color);
    display: none;
    cursor: default;
    z-index: 99;
    border-radius: 3px;
}

.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    top: -6%;
    right: 2%;
    border: 20px solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}


.header__notify::before{
    content: "";
    display: block;
    position: absolute;
    top: -2%;
    right: 0;
    width: 100%;
    height: 10px;
}

.notify-hover:hover .header__notify{
    display: block;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotify ease-in .2s;
}
.notify-img{
    width: 100%;
    max-width: 50px;
}
.notify--header{
    height: 40px;
    background-color: var(--white-color);
}
.notify--header h3{
    color: #888;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
}

.notify--list{
    padding-left: 0;

}

.notify--item--viewed{
    background-color: rgba(238,75,43,0.08);
}
.notify__list--link:hover{
    background-color: rgba(172, 166, 166, 0.08);
}
.notify-info{
    padding: 6px 0px 6px 12px;
}

.notify__list--link {
    padding: 12px;
    display: flex;
    text-decoration: none;

}

.notify--name{
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
}

.notify--des{
    display: block;
    margin-top: 12px;
    font-size: 1.2rem;
    color: rgb(143, 127, 127);
}

.notify-footer{
    text-align: center; 
    padding: 12px 0;
}

.notify-footer--btn{
   
    text-decoration: none;
    color: var(--text-color);
}
/* modal */
.auth-form{
    width: 500px;
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--white-color);
}
.auth-form__container{
    padding: 0 32px;
}

.auth-form__header{
    padding: 0 12px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__witch-btn{
    cursor: pointer;
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
}
.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border--color);
    border-radius: 2px;
    outline: none;
}
.auth-form__input:focus{
    border: 1px solid #888;
}

.auth-form__aside{
    margin-top: 18px;
}

.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link{
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.control--back{
    margin-right: 8px;
    background-color: var(--white-color);
}
.control--back:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.auth-form__socials{
    margin-top: 32px;
    background-color: #f5f5f5;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
}

.social--icon{
    font-size: 1.8rem;
    padding: 0 0 0 12px ;
}

.socials--facebook{
    color: var(--white-color);
    background-color: #3A5A98;
}

.socials--facebook.btn{
    color: var(--white-color);
}
.socials--facebook,
.socials--google{
    display: flex;
    align-items: center;
}
.socials--google{
    background-color: var(--white-color);
    color: #666;
}
.social--text{
    padding: 0 38px;
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__help-separate{
    display: block;
    height: 15px;
    border-left: 1px solid #cecaca;
    margin: 0 16px;
}

.help--fogot{
    color: var(--primary-color);
}
.header__with--search{
    height: var(--header--with--search);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo{
    width: 200px;
}

.logo--shoppe{
    width: 150px;
    cursor: pointer;
}

.header__search{
    flex:1;
    height: 40px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    border-radius: 2px;
}
.header__search--input-wrap{
    flex: 1;
    position: relative;
}

.header__search--input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;
}

.search__selection{
    border-left: 1px solid #938a8a;
    padding-left: 16px;
    height: 57%;
    line-height: 23px;
    position: relative;
    cursor: pointer;
}

.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
    outline: none;
    cursor: pointer;
}
.header__search-btn:hover{
    opacity: 0.7;
}

.search__btn-icon{
    font-size: 1.4rem;
    color: var(--white-color);
}

.search__selection-label{
    font-size: 1.4rem;
    color: var(--text-color);
}

.search__selection-icon{
    margin: 0 16px;
    position: relative;
    top: 1px;
    font-size: 1.2rem;
    color: #4a4a4a;
}

.header__cart{
    width: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
}
.header__cart--list{
    position: absolute;
    top: 98%;
    right: 0;
    width: 400px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 2px rgb(180, 177, 177) ;
    display: none;
    animation: fadeIn ease-in .3s;
}

.header__cart--list::after{
    content: "";
    position: absolute;
    display: block;
    top: -25px;
    border-width: 16px 18px;
    border-style: solid;
    border-color: transparent transparent rgb(255, 255, 255);
    right: 0px;
    cursor: pointer;


}
.header__cart--list::before{
    content: "";
    display: block;
    position: absolute;
    top: -7%;
    right: 0;
    width: 100%;
    height: 20px;
}
.header__cart-wrap {
    position: relative;;
    display: inline;
    padding: 7px;
}

.header__cart-wrap:hover > .header__cart--list{
    display: block;
}
.header__cart--nocart .cart__no-cart--msg,
.header__cart--nocart .cart__no-cart--img{
    display: block;
}
.cart__no-cart--img{
    padding: 20px 0;
    margin-right: auto;
    width: 54%;
    margin-left: auto;
    display: flex;
    display: none;
}   
.cart__no-cart--msg{
    display: none;
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 0 0 20px 0;
}
.header__cart-notice{
    position: absolute;
    top: 2px;
    right: -2px;
    padding: 2px 5px;
    color: var(--primary-color);
    background-color: var(--white-color);
    border-radius: 50%;
    border: 2px solid #EE4D2D;
    font-size: 1.2rem;
    line-height: 12px;
}
.cart__icon{
    color: var(--white-color);
    font-size: 2.4rem;
    margin-top: 6px;
    cursor: pointer;
}
.search__selection:hover .header__search-option{
    display: block;
}
.header__search-option::after{
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    top: -10px;
    right: 0;
    position: absolute;
}
.header__search-option{
    position: absolute;
    right: 0;
    top: calc(100% + 1px);
    background-color: var(--white-color);
    list-style: none;
    padding: 0;
    width: 110%;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgb(180, 177, 177) ;
    display: none;
    animation: fadeIn ease-in .2s;
}
.header__search-option-item{
    padding: 10px 0 ;
    font-size: 1.4rem;
    display: inline-flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
}
.history__list-item:hover,
.header__search-option-item:hover{
    background-color: rgba(0, 0, 0, 0.05);
}
.header__search-option-item .search-option-icon{
    font-size: 1.2rem;
    margin: 0 14px 0 10px;
    color: var(--primary-color);
    display: none ;
}
.search-option-item-active  .search-option-icon{
    display: block ;
}
.search-option-span{
    flex: 1;
    margin-left: 30px;
}
/* search history */
.header__search--input:focus ~ .header__search--history{
    display: block;
}

.header__search--history{
    position: absolute;
    left: 0;
    top: calc(100% + 13px);
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 1px 2px rgb(180, 177, 177) ;
    display: none;
}
.header__search--history-heading{
    margin: 10px 12px;
    font-size: 1.4rem;
    color: rgb(171 168 168);
    font-weight: 400;
}
.header__search--history-list{
    padding-left: 0;
    list-style: none;
    margin: 0;
}
.history__list-item{
    height: 38px;
    padding: 0 12px;
    line-height: 38px;
    cursor: pointer;
}

.history__list-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
}

.history__list-item + .history__list-item{
    border-radius: 3px;
}
/* has cart */
.header__cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    color: #888;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__cart-list-item{
    padding: 0;
    list-style: none;

}
.header__cart-item{
    display: flex;
    align-items: center;
}
.header__cart-item:hover{
    background-color: #F8F8F8;
}
.header__cart-img{
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #E8E8E8;
}

.header__cart-item-infor{
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name{
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 4px 0px;
}

.header__cart-item-price{
    font-size: 1.4rem;
    font-weight: 500px;
    color: var(--primary-color);
}

.header__cart-item-multiply{
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-qnt{
    font-size: 1.2rem;
    color: #757575;
}

.header__cart-item-body{
    display: flex;
    justify-content: space-between;
}

.header__cart-item-des{
    font-size: 1.2rem;
    color: #757575;
    font-weight: 300;
}

.header__cart-item-remove{
    font-size: 1.4rem;
    color:var(--text-color);
    font-weight: 400;
}
.header__cart-item-remove:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.header__cart-view{
    float: right;
    margin: 0 12px 12px 0;
    
}
.header__cart-view:hover{
    opacity: 0.9;
}



/*  */
.container{

}

.footer{

}
